SECRET_KEY=change-me
POSTGRES_USER=postgres
POSTGRES_DB=commerce
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DJANGO_SECURE_COOKIES=False
ZARINPAL_MERCHANT_CODE = length-36
#SMS CONFIG
SMS_API_KEY=your_api_key
SMS_USERNAME=your_username
SMS_LINE=your_line_number
