{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پرداخت ناموفق</title>
    <link rel="stylesheet" href="{% static 'css/payment_failed-ui.css' %}">

</head>
<body>
    <div class="card">
        <div class="icon">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </div>
        <h1>پرداخت ناموفق بود</h1>
        <p>متاسفانه تراکنش شما با خطا مواجه شد. در صورتی که مبلغی از حساب شما کسر شده است، طی ۷۲ ساعت آینده توسط بانک عودت داده خواهد شد.</p>
        
        <div class="tracking-box">
            کد پیگیری تراکنش: <span dir="ltr">{{ tracking_code }}</span>
        </div>

        <a href="{{ frontend_return_url }}" class="btn btn-retry">تلاش مجدد برای پرداخت</a>
        <a href="{{ frontend_return_url }}" class="btn">بازگشت به سایت</a>

        <p class="timer-text">
            در حال انتقال خودکار به سایت تا <span id="timer" style="color: #4b5563; font-weight: bold;">10</span> ثانیه دیگر...
        </p>
    </div>
    <script>
        
        window.returnUrl = "{{ frontend_return_url }}";
    </script>
    <script src="{% static 'js/payment-ui.js' %}"></script>
</body>
</html>
